<nav class="navbar navbar-expand-lg navbar-dark bg-dark align-items-center">
    <div class="container">
        <div class="ms-">
        <a class="navbar-brand p-2" href="{% url 'mailing_service:home' %}">Главная</a>
        <a class="navbar-brand p-2" href="{% url 'mailing_service:mailing_recipient_list' %}">Получатели</a>
        <a class="navbar-brand p-2" href="{% url 'mailing_service:message_list' %}">Сообщения</a>
        <a class="navbar-brand p-2" href="{% url 'mailing_service:mailing_list' %}">Рассылки</a>
        </div>
    </div>
</nav>